{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FrontPage - Demo Company{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="{% static 'frontpage/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-gradient menu">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'tasks' %}">FrontPage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_tasks' %}"><strong id="user">{{ user|title }}</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'unassigned_tasks' %}">Unassigned Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>    
        <div class="container-fluid">
            <div class="row gx-1">
                <div class="col-sm-3">
                    {% block bodyLeft %}
                    {% endblock %}
                </div>
                <div class="col-sm-5">
                    {% block bodyMiddle %}
                    {% endblock %}
                </div>
                <div class="col-sm-4">
                    {% block bodyRight %}
                    {% endblock %}
                </div>
              </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{% static 'frontpage/javascript.js' %}"></script>
    {% if current_task %}
        <script>
            showTaskDetails({{ current_task }});
        </script>
    {% endif %}
    </body>
</html>